<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1AC8EC91DF6A12300F40BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1AC8EE21DF6A12300F40BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1AC8EED1DF6A12300F40BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
